# IDE Stuff
.settings
settings.xml

# Logs
logs/*.log

# Test Results
tests/results/*

# Dependencies
coldbox/*
testbox/*
artifacts/*
apidocs/docbox/*
workbench/*
build/*

# Module Dependencies
modules/cbvalidation/*
