# IDE Stuff
.settings
settings.xml
.vscode

# Secrets
.env

# Logs
logs/*.log

# Test Results
tests/results/*

# Dependencies
coldbox/*
testbox/*
artifacts/*
apidocs/docbox/*
workbench/*
build/*

# Engines
.engine/**

# Module Dependencies
modules/cbvalidation/*
